# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf

ESP8266/ESP8266/out/*


*/node_modules/*
*/platforms/*/*
*/www/build/*
*/hooks/*
*/plugins/*/

*/app/**/*.js
*/app/**/*.js.map
*/app/*.js
*/app/*.js.map

packages
.vs